REACT_APP_AWS_REGION=us-east-1
REACT_APP_USER_POOL_ID=your_user_pool_id
REACT_APP_USER_POOL_CLIENT_ID=your_client_id
REACT_APP_IDENTITY_POOL_ID=your_identity_pool_id
REACT_APP_IOT_ENDPOINT=your_iot_endpoint
REACT_APP_TOPIC_CONTROL=finca/rele/control
REACT_APP_TOPIC_STATUS=finca/rele/status
REACT_APP_TOPIC_CONEXION=finca/rele/conexion
REACT_APP_THING_NAME=your_thing_name